* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mukta', sans-serif;
    background-color: black;
}


a {
    text-decoration: none;

}

.navbar-brand {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    gap: 1rem;
}

h1 {
    font-size: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#nombreComercio {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2rem;
    border-color: white;
    border-style: double;
    margin-right: 2rem;
    margin-left: 2rem;
}

.tituloInicio {
    display: flex;
    color: white;
}

.imagenInicio {
    display: flex;
    flex-direction: row;
}

h4 {
    color: red;
    font-size: 1rem;
    text-align: center;
}


.redes {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
}


h2 {
    display: flex;
    color: darkred;
    font-size: 2rem;
    padding: 2rem;
    justify-content: center;
}

.productosCarneBovina {
    display: flex;
    padding: 25px;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 1.5rem;
}

.productosCarneCerdo {
    display: flex;
    padding: 25px;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.productosPollo {
    display: flex;
    padding: 25px;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.productosAchuras {
    display: flex;
    padding: 25px;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    transition: 0.3s;
    background-color: white;
}

.card:hover {
    filter: brightness(20%)
}

.container {
    padding: 2px 16px;
}

.container h4 {
    color: black;
}

header {
    background-image: url(../assets/img/fuego2.jpg);
}

#recetas div {
    font-size: 2rem;
    text-align: center;
}

footer {
    background-image: url(../assets/img/fuego2.jpg);
    position: relative;
    width: 100%;
    margin-top: 50px;
    font-size: 1rem;
    color: red;
    text-align: center;
}

h3 {
    font-size: 2rem;
    color: darkgreen;
    text-align: center;
}

.historia {
    padding-top: 2rem;
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;

}

p {
    color: white;

}


.ubicacionHorario p {
    font-size: 1.3rem;
    text-align: center;
}

.ubicacion h3 {
    text-align: center;
}

.mapaUbicacion iframe {
    display: flex;
    align-items: center;
    margin-left: 33rem;
}

#formulario {
    display: flex;
    justify-content: center;
    position: relative;
}

.imagenFormulario {
    display: flex;
    align-items: center;
}


.textoFormulario {
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    color: white;
    padding-left: 50px;
    margin-left: 20px;
}

.textoFormulario input,
textarea {
    font-family: inherit;
    font-size: 80%;
    border: 1px solid #f6f6f6;
    border-radius: 3px;
}



form input[type="submit"]:hover {
    cursor: pointer;
}


form input[type="reset"]:hover {
    cursor: pointer;
}



/* medias query*/

@media screen and (max-width:767px){
    .imagenFormulario {
        display: none;
    }

    .textoFormulario {
        background-image: url(../assets/img/Cortes-de-carne-de-res-para-asar-750x500.png);
        display: flex;
        flex-direction: row;
        margin-top: 0.5rem;
        color: white;
        padding: 2rem;
    }

    h2 {
        display: flex;
        align-items: center;
    }

    .imagenInicio {
        display: none;
    }

    .tituloInicio {
        font-size: 10rem;
        color: white;
        text-align: center;
        justify-content: left;
        background-image: url(../assets/img/istockphoto-1212824120-612x612.jpg);
    }
 }
    @media screen and (min-width:768px) and (max-width:1023px) {

        #formulario {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 0.5rem;
            margin: 0.5rem;
        }
    }