* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Mukta", sans-serif;
  background-color: black;
}

h1 {
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

h2 {
  display: flex;
  color: darkred;
  font-size: 2rem;
  padding: 2rem;
  justify-content: center;
  align-items: center;
}

h3 {
  font-size: 2rem;
  color: green;
  text-align: center;
}

h4 {
  color: red;
  font-size: 1rem;
  text-align: center;
}

p {
  color: white;
}

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/fuego2.jpg");
  width: 100%;
  margin-top: 50px;
  font-size: 1rem;
  color: red;
  text-align: center;
}
footer .redes {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  margin-bottom: 0%;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/fuego2.jpg");
}
header .navbar-brand {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  gap: 1rem;
}

#nombreComercio {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 2rem;
  border-color: white;
  border-style: double;
  margin-right: 2rem;
  margin-left: 2rem;
}
#nombreComercio h1 {
  color: white;
  font-size: 7rem;
  display: flex;
  justify-content: center;
  height: 100%;
}
#nombreComercio img {
  flex-direction: row;
}

#recetas div {
  font-size: 2rem;
  text-align: center;
  padding-left: 5rem;
  padding-right: 5rem;
}

.historia {
  padding-top: 2rem;
  text-align: justify;
  padding-left: 5rem;
  padding-right: 5rem;
  font-size: 1rem;
}

.ubicacionHorario p {
  font-size: 1.2rem;
  text-align: center;
}

.mapaUbicacion {
  display: flex;
  justify-content: center;
}

.card {
  transition: 0.3s;
  background-color: white;
}
.card:hover {
  filter: brightness(40%);
}

.container {
  padding: 2px 16px;
}
.container h4 {
  color: black;
}

.productosCarneBovina, .productosAchuras, .productosPollo, .productosCarneCerdo {
  display: flex;
  padding: 25px;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  row-gap: 1.5rem;
}

#formulario {
  display: flex;
  justify-content: center;
  position: relative;
}
#formulario img {
  display: flex;
  align-items: center;
}

.textoFormulario {
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  color: white;
  padding-left: 50px;
  margin-left: 20px;
}
.textoFormulario input,
.textoFormulario textarea {
  font-family: inherit;
  font-size: 80%;
  border: 1px solid #f6f6f6;
  border-radius: 5px;
}

form input[type=submit]:hover {
  cursor: pointer;
}

form input[type=reset]:hover {
  cursor: pointer;
}

@media screen and (min-width: 420px) and (max-width: 767px) {
  #formulario img {
    display: none;
    align-items: center;
  }
  .imagenFormulario {
    display: none;
  }
  .textoFormulario {
    background-image: url(../assets/img/Cortes-de-carne-de-res-para-asar-750x500.png);
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
    color: white;
    padding: 2rem;
  }
  h2 {
    display: flex;
    align-items: center;
  }
  .imagenInicio {
    display: none;
  }
  .tituloInicio {
    color: white;
    text-align: center;
    justify-content: left;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/istockphoto-1212824120-612x612.jpg);
  }
  #recetas div {
    font-size: 2rem;
    text-align: center;
    padding-left: 5rem;
    padding-right: 5rem;
  }
  #recetas div iframe {
    width: 300px;
    height: 175px;
  }
  h3 {
    font-size: 1.5rem;
    color: green;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #nombreComercio {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2rem;
    border-color: white;
    border-style: double;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  #nombreComercio h1 {
    color: white;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    height: 100%;
  }
  #nombreComercio img {
    flex-direction: row;
    width: 25rem;
  }
  #formulario {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    margin: 0.5rem;
  }
}
@media screen and (min-width: 290px) and (max-width: 425px) {
  #nombreComercio {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-right: 5rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/img/istockphoto-1212824120-320x612.jpg);
  }
  #nombreComercio h1 {
    text-align: center;
    font-size: 4.5rem;
  }
  #nombreComercio img {
    display: none;
  }
  .productosCarneBovina, .productosCarneCerdo, .productosPollo, .productosAchuras {
    display: flex;
    padding: 5px;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 0.5rem;
    -moz-column-gap: 0.5rem;
         column-gap: 0.5rem;
  }
  .card {
    width: 35%;
  }
  .container {
    padding: 2px 8px;
  }
  .container h4 {
    font-size: 0.8rem;
  }
  h2 {
    display: flex;
    color: darkred;
    font-size: 1.5rem;
    padding: 1rem;
    justify-content: center;
    text-align: center;
  }
  .tablaProductos h3 {
    font-size: 1.5rem;
  }
  #recetas div {
    font-size: 2rem;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  #recetas div iframe {
    width: 225px;
    height: 131.25px;
  }
  #recetas div h3 {
    font-size: 1rem;
    color: green;
    text-align: center;
  }
  .historia {
    padding-top: 2rem;
    text-align: justify;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 0.8rem;
  }
  .ubicacionHorario p {
    font-size: 0.8rem;
    text-align: center;
  }
  .ubicacionHorario p h3 {
    font-size: 0.8rem;
  }
  .mapaUbicacion {
    display: flex;
    justify-content: center;
  }
  .mapaUbicacion iframe {
    width: 225px;
    height: 168.75px;
  }
  #formulario img {
    display: none;
    align-items: center;
  }
  .imagenFormulario {
    display: none;
  }
  .textoFormulario {
    background-image: url(../assets/img/Cortes-de-carne-de-res-para-asar-750x500.png);
    display: flex;
    flex-direction: row;
    color: white;
    padding: 0.1rem;
  }
  footer h4 {
    font-size: 0.5rem;
  }
  footer p {
    font-size: 0.8rem;
    margin: 0%;
  }
  footer ul.redes {
    padding: 0%;
  }
  footer ul.redes img {
    height: 1.5rem;
  }
}/*# sourceMappingURL=style.css.map */