

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/fuego2.jpg");


    .navbar-brand {
        display: flex;
        align-items: center;
        padding-left: 1rem;
        gap: 1rem;
    }
}