#nombreComercio {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2rem;
    border-color: white;
    border-style: double;
    margin-right: 2rem;
    margin-left: 2rem;

    h1 {
        color: map-get($paleta_de_colores, primario);
        font-size: 7rem;
        display: flex;
        justify-content: center;
        height: 100%;
    }

    img {
        flex-direction: row;
    }
}




#recetas div {
    font-size: 2rem;
    text-align: center;
    padding-left: 5rem;
    padding-right: 5rem;

}



.historia {
    padding-top: 2rem;
    text-align: justify;
    padding-left: 5rem;
    padding-right: 5rem;
    font-size: 1rem;
}


.ubicacionHorario p {
    font-size: 1.2rem;
    text-align: center;

}

.mapaUbicacion {
    display: flex;
    justify-content: center;

}